form {
    width: 100%!important;
    position: relative;
    right: 0;
    background-color: rgb(255 255 255 / 35%);
    top: 0;
}

article {
    background: rgb(128 128 128 / 15%);
}

.bg-contact {
    background-image: url(../img//contact-us.png);
    position: relative;
    width: 100%;
    top: -96px;
    background-position: center;
    background-size: cover;
}